.remark-slide-content h1{
  font-size: 40px;
}

.remark-slide-content {
    font-family: Arial;
    font-size: 25px;
    padding: 1em 4em 1em 4em;
}

.small-font {
  font-size: 18px;
}

.pull-left {
    float: right;
    width: 70%;
}

.pull-right {
    float: right;
    width: 30%;
}

.hljs-github .hljs {
    height: 400px;
    overflow-y: scroll;
}

a, a > code {
    color: rgb(38 103 249);
    text-decoration: underline;
}

.grey {
  color: rgb(220,220,220);
}